<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> Travel App </title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"/>
  
  </head>
  <body>
    <div id="app">
      <div class="holder headline">
        <h1> Choose Your Destination </h1>
      </div>

    <div id = "countdown"> 
      <p id="days"></p>
      <p id="hours"></p>
      <p id="mins"></p>
      <p id="secs"></p>
      <h2 id="end"></h2>
    </div>
    
    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>
